.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}






/* Общие настройки */
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%; /* Чтобы фон растягивался на всю высоту */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f4f7f6;
  color: #333;
}
/* Красивые карточки книг */
.book-card {
  background: white;
  border-radius: 10px;
  padding: 20px;
  width: 250px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  transition: transform 0.2s, box-shadow 0.2s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.book-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 15px rgba(0,0,0,0.2);
}

.book-card h3 {
  margin: 0 0 10px 0;
  color: #2c3e50;
}

/* Стили для кнопок */
button {
  background-color: #3498db;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

button:hover {
  background-color: #2980b9;
}

/* Поля ввода */
input, select {
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 8px;
  outline: none;
}

input:focus {
  border-color: #3498db;
}








.main-layout {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 100%;      /* Занимает 100% ширины */
  margin: 0;         /* Убираем центрирование */
  min-height: calc(100vh - 120px);
}

.sidebar {
  width: 250px;
  min-width: 250px;
  background-color: #ffffff;
  border-right: 1px solid #e0e0e0;
  padding: 20px;
  
  /* Магия растягивания: */
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 120px); /* 100% высоты экрана минус шапка и футер */
  
  box-sizing: border-box; /* Чтобы паддинги не раздували ширину */
}

/* На всякий случай убедись, что контент тоже растягивается */
.content-area {
  flex: 1;
  background-color: #f4f7f6;
  min-height: calc(100vh - 120px);
  padding: 20px;
}

.sidebar-link {
  padding: 10px 15px;
  cursor: pointer; /* Делает курсор "пальчиком" */
  transition: all 0.2s ease;
  border-radius: 5px;
  margin-bottom: 5px;
  color: #34495e;
}

.sidebar-link:hover {
  background-color: #ecf0f1; /* Легкий серый фон при наведении */
  color: #3498db;           /* Синий цвет текста */
  padding-left: 20px;       /* Небольшой сдвиг вправо для красоты */
}

.img-container:hover .quick-view-overlay {
  opacity: 1 !important;
}